* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.plot_date_value_grid {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-auto-columns: minmax(min-content, max-content);
}

.plot_date_value_grid .canvas_main {
    z-index: 0;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.plot_date_value_grid .canvas_hit {
    z-index: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.plot_date_value_grid .canvas_dates {
    z-index: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    border: solid black 1px;
}

.plot_date_value_grid .canvas_dates_tooltip {
    z-index: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    cursor: w-resize;
}

.plot_date_value_grid .canvas_value {
    z-index: 0;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    border: solid black 1px;
}

.plot_date_value_grid .canvas_value_tooltip {
    z-index: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.plot_date_value_tooltips {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px 10px;
}