* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.plot_financial_grid {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-auto-columns: minmax(min-content, max-content);
}

.plot_financial_grid .canvas_dates.tooltip {
    cursor: w-resize;
}

.plot_financial_tooltips {
    z-index: 2;
    position: absolute;
    left: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px 10px;
}
