# _________________|common|_________________
.vscode
*/.idea/
**.env
# _________________|django|_________________
/django/test/
/django/venv/
/django/**/__pycache__/
**.csv
**.sqlite3
# __________________|next|__________________
/next/node_modules/
/next/.next/
/next/package-lock.json
/next/public/static/
/next/public/media/
# ________________|postgres|________________
/postgres/db/
# _________________|nginx|__________________
/nginx/tls/keys
