* {
    margin: 0;
    padding: 0;
}

.color_mixer_component {
    width: 250px;
    height: 178px;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 10fr 1fr;
    z-index: 4;
}

.color_palette {
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

.color_pointer {
    width: 12px;
    height: 12px;
    position: absolute;
    box-shadow: black 0 0 0 1px, white 0 0 0 1px inset;
    border: solid black 1px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
    z-index: 5;
}

.color_spectrum {
    width: 100%;
    height: 100%;
}

.spectrum_pointer {
    position: absolute;
    z-index: 5;
}

.spectrum_pointer .left {
    position: absolute;
    left: -8px;
}

.spectrum_pointer .right {
    position: absolute;
    left: 19px;
}

.result_color svg {
    box-shadow: black 0 0 0 1px, white 0 0 0 1px inset;
}
