.header {
    width: 100%;
    top: 0;
    background: black;
    color: white;
    --header-height: 48px;
    --header-color: black;
}

.header nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainMenu {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: stretch;
    max-width: 100%;
}

.menuButton {
    display: none;
}

@media (max-width: 500px) {
    .mainMenu {
        display: none;
    }

    .additionalMenu {
        display: block !important;
    }

    .menuButton {
        display: block;
    }
}

.linkWrapper {
    display: table;
}

.link {
    display: table-cell;
    vertical-align: middle;

    margin: 0;
    padding: 0 16px;
    border: none;
    outline: transparent;
    white-space: nowrap;
    background: none;
    opacity: 0.6;
    transition: opacity 0.1s;
}

.link:hover {
    opacity: 1;
}

a.link {
    cursor: pointer;
}

span.link {
    pointer-events: none;
    user-select: none;
    opacity: 1 !important;
    font-weight: bold;
}

.additionalMenu {
    display: none;
    flex-direction: row;
    flex-basis: auto;
    align-items: stretch;
    max-width: 100%;
    opacity: 0.7;
    transition: opacity 0.1s;
}

.additionalMenu:hover {
    opacity: 1;
}

.additionalMenu h1 {
    cursor: pointer;
}

.additionalMenu ul {
    top: var(--header-height);
    margin-left: -30px;
    background: var(--header-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additionalMenu ul li {
    padding: 8px 0;
}
