.smallClickable {
    margin: 0;
    padding: 0;
    fill: currentColor;
    width: 12pt;
    height: 12pt;
    min-width: 12pt;
    min-height: 12pt;
    cursor: pointer;
}

.normal {
    margin: 0;
    padding: 0;
    fill: currentColor;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
}
